[Desktop Entry]
Version=1.0
Type=Application
Name=MATLAB R2020b
Exec=bash -c "python $HOME/.local/share/matlab_launcher.py"
Icon=matlab_icon.png
Terminal=false
StartupNotify=true
Categories=Development